# DATABASE_URL is there for dbmate
DATABASE_URL=sqlite:///path/to/my/db.sqlite
# DATABASE_PATH is what the app uses, these could be combined I guess
DATABASE_PATH=sqlite:///path/to/my/db.sqlite
DATABASE_USER=your-username
DATABASE_PASSWORD=your-password
GITLAB_TOKEN=your-gitlab-token
GITLAB_HOST=your-host.gitlab.com
WORKER_COUNT=4
